

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  margin: 10px 0 20px;
  font-weight: 400;
}

h1 {
  color: var(--blue);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
    font-size: 2.1176470588235294rem;
    line-height: 63px;
}

h2 {
  font-size: 1.2705882352941178rem;
  @include breakpoint(medium) {
    font-size: 1.4470588235294117rem;
  }

  @include breakpoint(large) {
    font-size: 1.8823529411764706rem;
  }
}

h3, h4, h5 {
  font-size: 1.111764705882353rem;
  margin-bottom: 10px;
  @include breakpoint(medium) {
    font-size: 1.4470588235294117rem;
  }
  @include breakpoint(large) {
    font-size: 1.6470588235294117rem;
  }
}

a {
  transition: all .2s ease 0s;
  color: #6c27ae;
  text-decoration: none;
  display: inline-block;
  &:hover {
    box-shadow: 0 1px 0 #E5E5E5;
  }
}

p {
  margin: 0 0 12px;
}

img {
  max-width: 100%;
  height: auto !important;
}

strong {
  font-weight: 700;
}

ul, ol {
  padding-left: 40px;
  margin-bottom: 20px;
}
